<div class="section section-basic">
    <div class="container">
        <h3 class="title">Basic Elements</h3>
        <div id="buttons">
            <h4>Buttons</h4>
            <p class="category">Pick your style</p>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-primary" type="button">Default</button>
                    <button class="btn btn-primary btn-round" type="button">Round</button>
                    <button class="btn btn-primary btn-round" type="button">
                                    <i class="now-ui-icons ui-2_favourite-28"></i> With Icon
                                </button>
                    <button class="btn btn-primary btn-icon  btn-icon-mini btn-round" type="button">
                                    <i class="now-ui-icons ui-2_favourite-28"></i>
                                </button>
                    <button class="btn btn-primary btn-simple btn-round" type="button">Simple</button>
                </div>
            </div>
            <p class="category">Pick your size</p>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-primary btn-sm">Small</button>
                    <button class="btn btn-primary">Regular</button>
                    <button class="btn btn-primary btn-lg">Large</button>
                </div>
            </div>
            <p class="category">Pick your color</p>
            <div class="row">
                <div class="col-md-10">
                    <button class="btn">Default</button>
                    <button class="btn btn-primary">Primary</button>
                    <button class="btn btn-info">Info</button>
                    <button class="btn btn-success">Success</button>
                    <button class="btn btn-warning">Warning</button>
                    <button class="btn btn-danger">Danger</button>
                    <button class="btn btn-neutral">Neutral</button>
                </div>
            </div>
            <h4>Links</h4>
            <div class="row">
                <div class="col-md-8">
                    <button class="btn btn-link">Default</button>
                    <button class="btn btn-link btn-primary ">Primary</button>
                    <button class="btn btn-link btn-info">Info</button>
                    <button class="btn btn-link btn-success">Success</button>
                    <button class="btn btn-link btn-warning">Warning</button>
                    <button class="btn btn-link btn-danger">Danger</button>
                </div>
            </div>
        </div>
        <div id="inputs">
            <h4>Inputs</h4>
            <p class="category">Form Controls</p>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group form-group-no-border">
                        <input type="text" value="" placeholder="Regular" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="With Border" value="">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group has-success form-group-no-border">
                        <input type="text" value="Success" class="form-control form-control-success" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group has-danger form-group-no-border">
                        <input type="email" value="Error Input" class="form-control form-control-danger" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="input-group form-group-no-border">
                        <span class="input-group-addon">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="input-group form-group-no-border">
                        <input type="text" class="form-control" placeholder="Right Nucleo Icon">
                        <span class="input-group-addon">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-70"></div>
        <div class="row" id="checkRadios">
            <div class="col-sm-6 col-lg-3">
                <p class="category">Checkboxes</p>
                <div class="checkbox">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">
                                    Unchecked
                                </label>
                </div>
                <div class="checkbox">
                    <input id="checkbox2" type="checkbox" checked="">
                    <label for="checkbox2">
                                    Checked
                                </label>
                </div>
                <div class="checkbox">
                    <input id="checkbox3" type="checkbox" disabled="">
                    <label for="checkbox3">
                                    Disabled unchecked
                                </label>
                </div>
                <div class="checkbox">
                    <input id="checkbox4" type="checkbox" checked="" disabled="">
                    <label for="checkbox4">
                                    Disabled checked
                                </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <p class="category">Radios</p>
                <div class="radio">
                    <input type="radio" name="radio1" id="radio1" value="option1">
                    <label for="radio1">
                                    Radio is off
                                </label>
                </div>
                <div class="radio">
                    <input type="radio" name="radio1" id="radio2" value="option2" checked="">
                    <label for="radio2">
                                    Radio is on
                                </label>
                </div>
                <div class="radio">
                    <input type="radio" name="radio3" id="radio3" value="option3" disabled="">
                    <label for="radio3">
                                    Disabled radio is off
                                </label>
                </div>
                <div class="radio">
                    <input type="radio" name="radio4" id="radio4" value="option4" checked="" disabled="">
                    <label for="radio4">
                                    Disabled radio is on
                                </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <p class="category">Toggle Buttons</p>
                <input type="checkbox" name="checkbox" class="bootstrap-switch" checked/>
                <br>
                <input type="checkbox" name="checkbox" class="bootstrap-switch" data-on-label="ON" data-off-label="OFF" />
            </div>
            <div class="col-sm-6 col-lg-3">
                <p class="category">Sliders</p>
                <div id="sliderRegular" class="slider"></div>
                <br>
                <div id="sliderDouble" class="slider slider-primary"></div>
            </div>
        </div>
    </div>
</div>